blessings==1.6
bpython==0.16
certifi==2017.4.17
chardet==3.0.4
curtsies==0.2.11
Django==1.11
django-extensions==1.7.9
djangorestframework==3.6.2
et-xmlfile==1.0.1
greenlet==0.4.12
idna==2.5
jdcal==1.3
MySQL-python==1.2.5
olefile==0.44
openpyxl==2.0.5
Pillow==9.3.0
Pygments==2.2.0
python-decouple==3.1
pytz==2017.2
reportlab==3.3.0
requests==2.18.1
six==1.10.0
urllib3==1.21.1
wcwidth==0.1.7
XlsxWriter==0.9.6
