{% extends "base/base.html" %}

{% load static %}

{% block title %}Actividades del plan Nro {{ plan.numero}} {% endblock title %}

{% block header %}Actividades del plan Nro {{ plan.numero}} {% endblock header %}

{% block actions %}
    <span class="small pull-right">
        <a href="{% url 'plan:planes' %}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Ver todos los planes</a>
        <a href="{% url 'reporte:cuadro_excel' %}?tipo=plan&amp;plan={{ plan.pk }}" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i> Exportar a excel todos los cuadros</a>
    </span>
{% endblock actions %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
        <label for="">Año</label>: {{ plan.anio }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="">Responsable</label>: {{ plan.responsable }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="">Unidad Orgánica</label>: {{ plan.area_ejecutora.pertenece_a }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label for="">Unidad Ejecutora</label>: {{ plan.area_ejecutora }}
    </div>
  </div>

</div>

<table class="table table-hover table-bordered small" id="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Actividad</th>
      <th>U. Medida</th>
      <th>Total</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for actividad in plan.actividad_set.all %}
      <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ actividad.tarea_actividad }}</td>
        <td>{{ actividad.unidad_medida }}</td>
        <td>{{ actividad.distribucion_presupuestal }}</td>
        {% if actividad.cuadro  %}
        <td class="text-center">
          <a href="{% url 'cuadro:editar_cuadro' actividad.pk %}" class="btn btn-warning btn-xs" title="Editar Cuadro de necesidades"><i class="fa fa-edit"></i></a>
          <a href="{% url 'reporte:imprimir_cuadro' actividad.cuadro.pk %}" class="btn btn-info btn-xs imprimir-cuadro" title="Imprimir Cuadro de necesidades"><i class="fa fa-print"></i></a>
          <a href="{% url 'reporte:cuadro_excel' %}?tipo=cuadro&amp;cuadro={{ actividad.cuadro.pk }}" class="btn btn-success btn-xs" title="Exporta a Excel el Cuadro de necesidades"><i class="fa fa-file-excel-o"></i></a>
          <a href="{% url 'cuadro:borrar_cuadro' actividad.pk %}" class="btn btn-danger btn-xs borrar-cuadro" title="Borrar Cuadro de necesidades"><i class="fa fa-times"></i></a>
        </td>
        {% else %}
        <td class="text-center"><a href="{% url 'cuadro:nuevo_cuadro' actividad.pk %}" class="btn btn-primary btn-xs" title="Crear Cuadro de necesidades"><i class="fa fa-table"></i></a></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
  
</table>

   
{% endblock content %}



{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.0/css/theme.bootstrap.min.css">
{% endblock css %}

{% block js %}
  <script src="{% static "plan/actividades.js" %}"></script>
{% endblock js %}

{% block modal %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modalprint">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Imprimir</h4>
          </div>
          <div class="modal-body">
            <iframe src="" frameborder="0" width="100%" height="380"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}
