{% extends "base/base.html" %}
{% load l10n %}
{% load user_groups %}
{% load static %}

{% block header %}Ver o Editar Plan{% endblock header %}

{% block actions %}
    <span class="small pull-right">
        <a href="{% url 'reporte:imprimir_plan' plan.pk %}" class="btn btn-info btn-sm print"><i class="fa fa-print"></i> Imprimir Plan</a>
        <a href="{% url 'reporte:reporte_dependencia_excel' %}?pk={{ plan.pk }}&amp;tipo=single" class="btn btn-success btn-sm excel"><i class="fa fa-file-excel-o"></i> Exportar a Excel</a>
        <a href="{% url 'plan:planes' %}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Ver todos los planes</a>
        <a href="{% url 'plan:plan' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Crear otro Plan</a>
    </span>
{% endblock actions %}

{% block content %}
    <form action="{% url 'plan:ver_plan' plan.pk %}" method="post" class="form-aprobar">
        {% if not plan.aprobado %}
            <div class="alert alert-warning">
                <p>Este plan no está aprobado, puede modificarse hasta su aprobación. {% ifusergroup Administrador %}
                <button class="btn btn-sm btn-primary aprobar" type="button" data-pk="{{ plan.pk }}"><i class="fa fa-check"></i> Aprobar plan</button>
                <input type="hidden" name="aprobado" value="{{ plan.aprobado }}" id="id_aprobado">
                {% endifusergroup %}</p>
            </div>
        {% endif %}
        <div class="row">
            <h2 class="page-sub-header text-success">Datos del Plan</h2>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Unidad Orgánica</label>: {{ plan.unidad_organica.nombre }}
                    <input type="hidden" name="unidad_organica" value="{{ plan.unidad_organica.pk }}"> 
                </div>
            </div>
            {% ifusergroup Administrador %}
            <div class="col-md-2">
                <div class="form-group">
                    <label for="">Número</label>
                    <input type="text" name="numero" value="{{ plan.numero }}" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form.anio.label_tag }}
                    {{ form.anio }}
                </div>
            </div>
            {% else %}
            <div class="col-md-2">
                <div class="form-group">
                    <label for="">Número</label>
                    <input type="text" name="numero" value="{{ plan.numero }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    {{ form.anio.label_tag }}
                    {{ form.anio }}
                </div>
            </div>
            {% endifusergroup %}
            
            <div class="col-md-4">
                <div class="form-group">
                    {% if plan.unidad_organica.especial == True %}
                        {% if plan.area_ejecutora != None %}
                            <label for="id_area_ejecutora">Area ejecutora:</label>
                            <input type="text" readonly value="{{ plan.area_ejecutora.nombre }}" class="form-control">
                            <input type="hidden" value="{{ plan.area_ejecutora.pk }}" name="area_ejecutora">
                        {% else %}
                            {% if plan.proyecto != None %}
                                <label for="id_proyecto">Proyecto:</label>
                                <input type="text" name="proyecto" id="id_proyecto" maxlength="255" class="form-control" required value="{{ plan.proyecto }}">
                            {% else %}
                                <label for="id_area_ejecutora">Area ejecutora:</label>
                                <input type="text" readonly value="{{ plan.unidad_organica.nombre }}" class="form-control">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if plan.area_ejecutora != None %}
                            <label for="id_area_ejecutora">Area ejecutora:</label>
                            <input type="text" readonly value="{{ plan.area_ejecutora.nombre }}" class="form-control">
                            <input type="hidden" value="{{ plan.area_ejecutora.pk }}" name="area_ejecutora">
                        {% else %}
                            <label for="id_area_ejecutora">Area ejecutora:</label>
                            <input type="text" readonly value="{{ plan.unidad_organica.nombre }}" class="form-control">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.responsable.label_tag }}
                    {{ form.responsable }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.accion_central.label_tag }}
                    {{ form.accion_central }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.objetivo_general_institucional.label_tag }}
                    {{ form.objetivo_general_institucional }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.objetivo_especifico_institucional.label_tag }}
                    {{ form.objetivo_especifico_institucional }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form.periodo.label_tag }}
                    {{ form.periodo }}
                </div>
            </div>

            {% if plan.unidad_organica.actividades == True %}
                {% if plan.area_ejecutora != None %}
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.act.label_tag }}
                            {{ form.act }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12" style="display: none">
                        <div class="form-group">
                            {{ form.act.label_tag }}
                            {{ form.act }}
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <div class="col-md-12">
                    <div class="form-group" style="display: none">
                        {{ form.act.label_tag }}
                        {{ form.act }}
                    </div>
                </div>
            {% endif %}

            {% if plan.unidad_organica.especial == True %}
                {% if plan.unidad_organica.actividades == True %}
                    {% if plan.area_ejecutora != None %}
                    <h2 class="page-sub-header text-info">Tareas</h2>
                    {% else %}
                    <h2 class="page-sub-header text-info">Actividades</h2>
                    {% endif %}
                {% endif %}
            {% else %}
            <h2 class="page-sub-header text-info">Actividades o Proyectos</h2>
            {% endif %}

            <div class="actividades">
                {% for actividad in plan.actividad_set.all %}
                <div class="actividad small">
                    <input type="hidden" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-id" value="{{ actividad.pk }}" id="id_{{ detalle_form.prefix }}-{{ forloop.counter0 }}-id" class="pk">
                    <input type="hidden" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-pertenece_a" value="{{ plan.pk }}" id="id_{{ detalle_form.prefix }}-{{ forloop.counter0 }}-pertenece_a">
                    <div class="col-md-6">
                        <div class="form-group">
                            {% if plan.unidad_organica.actividades == True %}
                                {% if plan.area_ejecutora != None %}
                                    <label for="">Tarea</label>                                
                                {% else %}
                                    <label for="">Actividad</label>                                
                                {% endif %}
                            {% else %}
                                <label for="">Actividad</label>                                
                            {% endif %}
                            <textarea name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-tarea_actividad" id="" class="input-sm form-control" rows="5" required>{{ actividad.tarea_actividad }}</textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">U. de medida</label>
                            <input type="text" class="input-sm form-control" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-unidad_medida" required value="{{ actividad.unidad_medida }}">
                        </div>
                        <div class="form-group">
                            <label for="">Peso (%)</label>
                            <input type="number" class="input-sm form-control peso" readonly name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-peso" value="{{ actividad.peso|unlocalize }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Fecha término</label>
                            <input type="text" class="input-sm form-control datepicker" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-fecha_termino" required value="{{ actividad.fecha_termino|date:"d-m-Y" }}">
                        </div>
                        <div class="form-group">
                            <label for="">Asignación presupuestal</label>
                            <select id="" class="input-sm form-control" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-asignacion_presupuestal" required>
                                {% for asignacion in asignaciones %}
                                    {% if asignacion.pk == actividad.asignacion_presupuestal.pk %}
                                        <option value="{{ asignacion.pk }}" selected>{{ asignacion.rubro }}</option>                                        
                                    {% else %}
                                        <option value="{{ asignacion.pk }}">{{ asignacion.rubro }}</option>                                        
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T1</span><span class="m">Ene</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t1" required  value="{{ actividad.t1|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T1</span><span class="m">Ene</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p1" required  value="{{ actividad.p1|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T2</span><span class="m">Feb</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t2" required  value="{{ actividad.t2|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T2</span><span class="m">Feb</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p2" required  value="{{ actividad.p2|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T3</span><span class="m">Mar</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t3" required  value="{{ actividad.t3|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T3</span><span class="m">Mar</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p3" required  value="{{ actividad.p3|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T4</span><span class="m">Abr</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t4" required  value="{{ actividad.t4|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T4</span><span class="m">Abr</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p4" required  value="{{ actividad.p4|unlocalize }}">
                                </div>
                            </div>

                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T5</span><span class="m">May</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t5" readonly  value="{{ actividad.t5|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T5</span><span class="m">May</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p5" readonly  value="{{ actividad.p5|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T6</span><span class="m">Jun</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t6" readonly  value="{{ actividad.t6|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T6</span><span class="m">Jun</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p6" readonly  value="{{ actividad.p6|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T7</span><span class="m">Jul</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t7" readonly  value="{{ actividad.t7|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T7</span><span class="m">Jul</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p7" readonly  value="{{ actividad.p7|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T8</span><span class="m">Ago</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t8" readonly  value="{{ actividad.t8|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T8</span><span class="m">Ago</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p8" readonly  value="{{ actividad.p8|unlocalize }}">
                                </div>
                            </div>

                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T9</span><span class="m">Set</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t9" readonly  value="{{ actividad.t9|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T9</span><span class="m">Set</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p9" readonly  value="{{ actividad.p9|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T10</span><span class="m">Oct</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t10" readonly  value="{{ actividad.t10|unlocalize }}">
                                </div>
                                <div class="form-group">
                            <label for="">Monto <span class="t">T10</span><span class="m">Oct</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p10" readonly  value="{{ actividad.p10|unlocalize }}">
                        </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T11</span><span class="m">Nov</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t11" readonly  value="{{ actividad.t11|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T11</span><span class="m">Nov</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p11" readonly  value="{{ actividad.p11|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T12</span><span class="m">Dic</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any"  name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-t12" readonly  value="{{ actividad.t12|unlocalize }}">
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T12</span><span class="m">Dic</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p12" readonly  value="{{ actividad.p12|unlocalize }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Total en <span class="t">periodos</span><span class="m">meses</span></label>
                                    <input type="number" class="input-sm form-control total-t" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-total" readonly value="{{ actividad.total|unlocalize }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipo de medición</label>
                                    <select name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-tipo_t" class="form-control input-sm" id="tipo_t">
                                        <option value="1" {% if actividad.tipo_t == '1' %}selected{% endif %}>Porcentual</option>
                                        <option value="2" {% if actividad.tipo_t == '2' %}selected{% endif %}>Numérico</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Distribución presupuestal S/</label>
                            <input type="number" class="input-sm form-control distribucion" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-distribucion_presupuestal" value="{{ actividad.distribucion_presupuestal|unlocalize }}" readonly>
                        </div>
                        <button class="btn btn-block btn-danger quitar-actividad" type="button"><i class="fa fa-times"></i> Quitar esta actividad</button>
                        <input type="checkbox" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-DELETE" id="id_{{ detalle_form.prefix }}-{{ forloop.counter0 }}-DELETE" class="hidden marcado">
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>                    
                {% endfor %}
            </div>

            <div class="col-md-12">
                <div class="well text-center">
                    <h3>Total Presupuesto: S/ <span class="text-primary presupuesto" id="presupuesto">{{ plan.presupuesto|unlocalize }}</span></h3>
                    <input type="hidden" name="presupuesto" id="id_presupuesto"  value="{{ plan.presupuesto|unlocalize }}">
                </div>
            </div>


            <div class="col-md-12">
                <div class="well">
                    <button class="btn btn-block btn-success btn-sm agregar-actividad" type="button"><i class="fa fa-plus"></i> Agregar actividad</button>
                    <input id="id_{{ detalle_form.prefix }}-TOTAL_FORMS" name="{{ detalle_form.prefix }}-TOTAL_FORMS" type="hidden" value="{{ plan.actividad_set.count }}">
                    <input id="id_{{ detalle_form.prefix }}-INITIAL_FORMS" name="{{ detalle_form.prefix }}-INITIAL_FORMS" type="hidden" value="{{ plan.actividad_set.count }}">
                    <input id="id_{{ detalle_form.prefix }}-MIN_NUM_FORMS" name="{{ detalle_form.prefix }}-MIN_NUM_FORMS" type="hidden" value="0">
                    <input id="id_{{ detalle_form.prefix }}-MAX_NUM_FORMS" name="{{ detalle_form.prefix }}-MAX_NUM_FORMS" type="hidden" value="1000">
                    {% csrf_token %}
                    <input type="hidden" name="creado_por" value="{{ plan.creado_por.pk }}">
                </div>
            </div>

            <div class="col-md-12">
                <div class="well">
                    <button class="btn btn-lg btn-block btn-primary" type="submit" data-pre="no"><i class="fa fa-save"></i> Guardar</button>
                    <button class="btn btn-info pre" type="submit" data-pre="si"><i class="fa fa-save"></i> Pre-guardar</button>
                    <input type="hidden" name="pre" value="no" id="pre">
                </div>
            </div>

        </div>
    </form>

{% endblock content %}

{% block js %}
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script>
        var prefix = '{{ detalle_form.prefix }}';
    </script>
    <script src="{% static "plan/plan.js" %}"></script>
{% endblock js %}


{% block template %}
        <script type="text/template" id="template">
        <div class="actividad small">
            <input type="hidden" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-id" id="id_{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-id" class="pk">
            <input type="hidden" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-pertenece_a" value="{{ plan.pk }}" id="id_{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-pertenece_a">
            <div class="col-md-6">
                <div class="form-group">
                    {% if plan.unidad_organica.actividades == True %}
                        {% if plan.area_ejecutora != None %}
                            <label for="">Tarea</label>                                
                        {% else %}
                            <label for="">Actividad</label>                                
                        {% endif %}
                    {% else %}
                        <label for="">Actividad</label>                                
                    {% endif %}
                    <textarea name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-tarea_actividad" id="" class="input-sm form-control" rows="5" required></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">U. de medida</label>
                    <input type="text" class="input-sm form-control" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-unidad_medida" required>
                </div>
                <div class="form-group">
                    <label for="">Peso (%)</label>
                    <input type="number" class="input-sm form-control peso" readonly name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-peso">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Fecha término</label>
                    <input type="text" class="input-sm form-control datepicker" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-fecha_termino" required>
                </div>
                <div class="form-group">
                    <label for="">Asignación presupuestal</label>
                    <select id="" class="input-sm form-control" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-asignacion_presupuestal" required>
                        {% for asignacion in asignaciones %}
                            <option value="{{ asignacion.pk }}">{{ asignacion.rubro }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T1</span><span class="m">Ene</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t1" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T1</span><span class="m">Ene</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p1" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T2</span><span class="m">Feb</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t2" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T2</span><span class="m">Feb</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p2" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T3</span><span class="m">Mar</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t3" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T3</span><span class="m">Mar</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p3" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T4</span><span class="m">Abr</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t4" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T4</span><span class="m">Abr</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p4" required>
                        </div>
                    </div>

                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T5</span><span class="m">May</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t5" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T5</span><span class="m">May</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p5"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T6</span><span class="m">Jun</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t6" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T6</span><span class="m">Jun</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p6"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T7</span><span class="m">Jul</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t7" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T7</span><span class="m">Jul</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p7"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T8</span><span class="m">Ago</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t8" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T8</span><span class="m">Ago</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p8"  value="0" readonly>
                        </div>
                    </div>

                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T9</span><span class="m">Set</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t9" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T9</span><span class="m">Set</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p9"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T10</span><span class="m">Oct</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t10" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T10</span><span class="m">Oct</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p10" value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T11</span><span class="m">Nov</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t11" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T11</span><span class="m">Nov</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p11" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T12</span><span class="m">Dic</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t12" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T12</span><span class="m">Dic</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p12" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Total en <span class="t">periodos</span><span class="m">meses</span></label>
                            <input type="number" class="input-sm form-control total-t" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-total" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Tipo de medición</label>
                            <select name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-tipo_t" class="form-control input-sm" id="tipo_t">
                                <option value="1">Porcentual</option>
                                <option value="2">Numérico</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="">Distribución presupuestal S/</label>
                    <input type="number" class="input-sm form-control distribucion" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-distribucion_presupuestal" readonly>
                </div>
                <button class="btn btn-block btn-danger quitar-actividad" type="button"><i class="fa fa-times"></i> Quitar esta actividad</button>
                <input type="checkbox" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-DELETE" id="id_{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-DELETE" class="hidden marcado">
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>

    </script>
{% endblock template %}

{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
{% endblock css %}



{% block modal %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modalprint">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Imprimir</h4>
          </div>
          <div class="modal-body">
            <iframe src="" frameborder="0" width="100%" height="380"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}


{% block title %}Ver o Editar Plan{% endblock title %}


{% block namespace %}editar-plan{% endblock namespace %}

{% block extras %}
    <div class="flotante">
        <p>El techo presupuestal de la unidad orgánica es: <strong>{{ plan.unidad_organica.techo|unlocalize }}</strong></p>
    </div>
{% endblock extras %}