{% extends "base/base.html" %}
{% load static %}
{% load l10n %}

{% block header %}Nuevo Plan (paso 2){% endblock header %}
{% block title %}Nuevo Plan (paso 2){% endblock title %}

{% block actions %}
    <span class="small pull-right">
        <a href="{% url 'plan:pre_plan' %}" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i> Regresar al paso 1</a>
        <a href="{% url 'plan:planes' %}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Ver todos los planes</a>
    </span>
{% endblock actions %}

{% block content %}
    <form action="{% url 'plan:plan' %}" method="post">
        <div class="row">
            <h2 class="page-sub-header text-success">Datos del Plan</h2>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Unidad Orgánica</label>: {{ organica.nombre }}
                    <input type="hidden" name="unidad_organica" value="{{ organica.pk }}"> 
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <p>{{ form.anio.label_tag }}</p>
                    <p>{{ anio.nombre }}</p>
                    <input type="hidden" name="anio" value="{{ anio.pk }}">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    {% if organica.especial == True %}
                        {% if ejecutora != None %}
                            <label for="id_area_ejecutora">Area ejecutora:</label>
                            <input type="text" readonly value="{{ ejecutora.nombre }}" class="form-control">
                            <input type="hidden" value="{{ ejecutora.pk }}" name="area_ejecutora">
                        {% else %}
                            {% if myself == 'no' %}
                                <label for="id_proyecto">Proyecto:</label>
                                <input type="text" name="proyecto" id="id_proyecto" maxlength="255" class="form-control" required>
                            {% else %}
                                <label for="id_area_ejecutora">Area ejecutora:</label>
                                <input type="text" readonly value="{{ organica.nombre }}" class="form-control">
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if ejecutora != None %}
                            <label for="id_area_ejecutora">Area ejecutora:</label>
                            <input type="text" readonly value="{{ ejecutora.nombre }}" class="form-control">
                            <input type="hidden" value="{{ ejecutora.pk }}" name="area_ejecutora">
                        {% else %}
                            <label for="id_area_ejecutora">Area ejecutora:</label>
                            <input type="text" readonly value="{{ organica.nombre }}" class="form-control">
                        {% endif %}
                    {% endif %}
                
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    {% if organica.especial == True %}
                        {% if ejecutora != None or myself == 'si' %}
                            <label for="id_responsable">Responsable:</label>
                        {% else %}
                            <label for="id_responsable">Residente:</label>
                        {% endif %}
                    {% else %}
                    {{ form.responsable.label_tag }}
                    {% endif %}
                    {{ form.responsable }}
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    {{ form.periodo.label_tag }}
                    {{ form.periodo }}
                </div>
            </div>

            {% if organica.actividades == True %}
                {% if ejecutora != None %}
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form.act.label_tag }}
                            {{ form.act }}
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-12" >
                        <div class="form-group">
                            {{ form.act.label_tag }}
                            {{ form.act }}
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <div class="col-md-12">
                    <div class="form-group" style="display: none">
                        {{ form.act.label_tag }}
                        {{ form.act }}
                    </div>
                </div>
            {% endif %}

            {% if organica.especial == True %}
                {% if organica.actividades == True %}
                    {% if ejecutora != None %}
                    <h2 class="page-sub-header text-info">Tareas</h2>
                    {% else %}
                    <h2 class="page-sub-header text-info">Actividades</h2>
                    {% endif %}
                {% else %}
                <h2 class="page-sub-header text-info">Actividades</h2>
                {% endif %}
            {% else %}
            <h2 class="page-sub-header text-info">Actividades o Proyectos</h2>
            {% endif %}

            <div class="actividades">
                <div class="actividad small">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="">Acción</label>
                            <select name="{{ detalle_form.prefix }}-0-accion" class="form-control">
                                {% for accion in acciones  %}
                                    <option value="{{ accion.pk}}">{{ accion.etiqueta }} - {{ accion.descripcion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {% if organica.actividades == True %}
                                {% if ejecutora != None %}
                                    <label for="">Tarea</label>                                
                                {% else %}
                                    <label for="">Actividad</label>                                
                                {% endif %}
                            {% else %}
                                <label for="">Actividad</label>                                
                            {% endif %}
                            <textarea name="{{ detalle_form.prefix }}-0-tarea_actividad" id="" class="input-sm form-control act-upper" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">U. de medida</label>
                            <input type="text" class="input-sm form-control" name="{{ detalle_form.prefix }}-0-unidad_medida" required>
                        </div>
                        <div class="form-group">
                            <label for="">Peso (%)</label>
                            <input type="number" class="input-sm form-control peso" readonly name="{{ detalle_form.prefix }}-0-peso">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Fecha término</label>
                            <input type="text" class="input-sm form-control datepicker" name="{{ detalle_form.prefix }}-0-fecha_termino" required>
                        </div>
                        <div class="form-group">
                            <label for="">Asignación presupuestal</label>
                            <select id="" class="input-sm form-control" name="{{ detalle_form.prefix }}-0-asignacion_presupuestal" required>
                                {% if myself == 'no' %}
                                    <option value="5">18 C.S.C.</option>
                                {% else %}
                                    {% for asignacion in asignaciones %}
                                        <option value="{{ asignacion.pk }}">{{ asignacion.rubro }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T1</span><span class="m">Ene</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-t1" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T1</span><span class="m">Ene</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-p1" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T2</span><span class="m">Feb</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-t2" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T2</span><span class="m">Feb</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-p2" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T3</span><span class="m">Mar</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-t3" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T3</span><span class="m">Mar</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-p3" required>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for=""><span class="t">T4</span><span class="m">Abr</span></label>
                                    <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-t4" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T4</span><span class="m">Abr</span></label>
                                    <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-0-p4" required>
                                </div>
                            </div>

                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T5</span><span class="m">May</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t5" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T5</span><span class="m">May</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p5" readonly value="0">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T6</span><span class="m">Jun</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t6" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T6</span><span class="m">Jun</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p6" readonly value="0">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T7</span><span class="m">Jul</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t7" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T7</span><span class="m">Jul</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p7" readonly value="0">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T8</span><span class="m">Ago</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t8" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T8</span><span class="m">Ago</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p8" readonly value="0">
                                </div>
                            </div>

                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T9</span><span class="m">Set</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t9" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T9</span><span class="m">Set</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p9" readonly value="0">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T10</span><span class="m">Oct</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t10" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T10</span><span class="m">Oct</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p10" readonly value="0">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T11</span><span class="m">Nov</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t11" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T11</span><span class="m">Nov</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p11" readonly value="0">
                                </div>
                            </div>
                            <div class="col-md-3 periodo hidden">
                                <div class="form-group">
                                    <label for=""><span class="t">T12</span><span class="m">Dic</span></label>
                                    <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-0-t12" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="">Monto <span class="t">T12</span><span class="m">Dic</span></label>
                                    <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-0-p12" readonly value="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Total en <span class="t">periodos</span><span class="m">meses</span></label>
                                    <input type="number" class="input-sm form-control total-t" min="0" step="any" name="{{ detalle_form.prefix }}-0-total" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipo de medición</label>
                                    <select name="{{ detalle_form.prefix }}-0-tipo_t" class="form-control input-sm" id="tipo_t">
                                        <option value="2">Numérico</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Distribución presupuestal S/</label>
                            <input type="number" class="input-sm form-control distribucion" min="0" step="any" name="{{ detalle_form.prefix }}-0-distribucion_presupuestal" readonly>
                        </div>
                        <button class="btn btn-block btn-danger quitar-actividad" type="button"><i class="fa fa-times"></i> Quitar esta actividad</button>
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="well text-center">
                    <h3>Total Presupuesto: S/ <span class="text-primary presupuesto" id="presupuesto"></span></h3>
                    <input type="hidden" name="presupuesto" id="id_presupuesto" value="">
                </div>
            </div>


            <div class="col-md-12">
                <div class="well">
                    <button class="btn btn-block btn-success btn-sm agregar-actividad" type="button"><i class="fa fa-plus"></i> Agregar actividad</button>
                    <input id="id_{{ detalle_form.prefix }}-TOTAL_FORMS" name="{{ detalle_form.prefix }}-TOTAL_FORMS" type="hidden" value="1">
                    <input id="id_{{ detalle_form.prefix }}-INITIAL_FORMS" name="{{ detalle_form.prefix }}-INITIAL_FORMS" type="hidden" value="0">
                    <input id="id_{{ detalle_form.prefix }}-MIN_NUM_FORMS" name="{{ detalle_form.prefix }}-MIN_NUM_FORMS" type="hidden" value="0">
                    <input id="id_{{ detalle_form.prefix }}-MAX_NUM_FORMS" name="{{ detalle_form.prefix }}-MAX_NUM_FORMS" type="hidden" value="1000">
                    {% csrf_token %}
                    <input type="hidden" name="creado_por" value="{{ request.user.pk }}">
                </div>
            </div>

            <div class="col-md-12">
                <div class="well">
                    <button class="btn btn-lg btn-block btn-primary" type="submit" data-pre="no"><i class="fa fa-save"></i> Guardar</button>
                    <button class="btn btn-info pre" type="submit" data-pre="si"><i class="fa fa-save"></i> Pre-guardar</button>
                    <input type="hidden" name="pre" value="no" id="pre">
                </div>
            </div>

        </div>
    </form>    
{% endblock content %}

{% block js %}
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script>
        var prefix = '{{ detalle_form.prefix }}';
    </script>
    <script src="{% static "plan/plan.js" %}"></script>
{% endblock js %}


{% block template %}
    <script type="text/template" id="template">
        <div class="actividad small">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">Acción</label>
                    <select name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-accion" class="form-control">
                        {% for accion in acciones  %}
                            <option value="{{ accion.pk}}">{{ accion.etiqueta }} - {{ accion.descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {% if organica.actividades == True %}
                        {% if ejecutora != None %}
                            <label for="">Tarea</label>                                
                        {% else %}
                            <label for="">Actividad</label>                                
                        {% endif %}
                    {% else %}
                        <label for="">Actividad</label>                                
                    {% endif %}
                    <textarea name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-tarea_actividad" id="" class="input-sm form-control" rows="5" required></textarea>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">U. de medida</label>
                    <input type="text" class="input-sm form-control" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-unidad_medida" required>
                </div>
                <div class="form-group">
                    <label for="">Peso (%)</label>
                    <input type="number" class="input-sm form-control peso" readonly name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-peso">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="">Fecha término</label>
                    <input type="text" class="input-sm form-control datepicker" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-fecha_termino" required>
                </div>
                <div class="form-group">
                    <label for="">Asignación presupuestal</label>
                    <select id="" class="input-sm form-control" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-asignacion_presupuestal" required>
                        {% if myself == 'no' %}
                            <option value="5">18 C.S.C.</option>
                        {% else %}
                            {% for asignacion in asignaciones %}
                                <option value="{{ asignacion.pk }}">{{ asignacion.rubro }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T1</span><span class="m">Ene</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t1" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T1</span><span class="m">Ene</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p1" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T2</span><span class="m">Feb</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t2" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T2</span><span class="m">Feb</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p2" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T3</span><span class="m">Mar</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t3" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T3</span><span class="m">Mar</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p3" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for=""><span class="t">T4</span><span class="m">Abr</span></label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t4" required>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T4</span><span class="m">Abr</span></label>
                            <input type="number" class="m-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p4" required>
                        </div>
                    </div>

                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T5</span><span class="m">May</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t5" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T5</span><span class="m">May</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p5"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T6</span><span class="m">Jun</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t6" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T6</span><span class="m">Jun</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p6"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T7</span><span class="m">Jul</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t7" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T7</span><span class="m">Jul</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p7"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T8</span><span class="m">Ago</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t8" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T8</span><span class="m">Ago</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p8"  value="0" readonly>
                        </div>
                    </div>

                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T9</span><span class="m">Set</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t9" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T9</span><span class="m">Set</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p9"  value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T10</span><span class="m">Oct</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t10" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T10</span><span class="m">Oct</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p10" value="0" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T11</span><span class="m">Nov</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t11" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T11</span><span class="m">Nov</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p11" readonly>
                        </div>
                    </div>
                    <div class="col-md-3 periodo hidden">
                        <div class="form-group">
                            <label for=""><span class="t">T12</span><span class="m">Dic</span></label>
                            <input type="number" class="t-input input-sm form-control opcional" min="0" step="any" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-t12" readonly>
                        </div>
                        <div class="form-group">
                            <label for="">Monto <span class="t">T12</span><span class="m">Dic</span></label>
                            <input type="number" class="m-input input-sm form-control opcional" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p12" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Total en <span class="t">periodos</span><span class="m">meses</span></label>
                            <input type="number" class="input-sm form-control total-t" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-total" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Tipo de medición</label>
                            <select name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-tipo_t" class="form-control input-sm" id="tipo_t">
                                <option value="2">Numérico</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="">Distribución presupuestal S/</label>
                    <input type="number" class="input-sm form-control distribucion" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-distribucion_presupuestal" readonly>
                </div>
                <button class="btn btn-block btn-danger quitar-actividad" type="button"><i class="fa fa-times"></i> Quitar esta actividad</button>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>

    </script>
{% endblock template %}

{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
{% endblock css %}

{% block extras %}
    <div class="flotante">
        <p>El techo presupuestal de la unidad orgánica es: <strong>{{ organica.techo|unlocalize }}</strong></p>
        {% if ejecutora != None %}
        <p>El techo presupuestal del área ejecutora es: <strong>{{ ejecutora.techo|unlocalize }}</strong></p>            
        {% endif %}
    </div>
{% endblock extras %}

