{% extends "base/base.html" %}
{% load static %}

{% block header %}Nuevo Plan (paso 1){% endblock header %}
{% block title %}Nuevo Plan (paso 1){% endblock title %}

{% block actions %}
    <span class="small pull-right">
        <a href="{% url 'plan:planes' %}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Ver todos los planes</a>
    </span>
{% endblock actions %}

{% block content %}
   <div class="well">
        <form action="{% url 'plan:plan' %}" method="get">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="unidades">Escoja una unidad orgánica</label>
                        <select name="unidad" id="unidades" class="form-control" required>
                            <option value="">Escoja una unidad</option>
                            {% for unidad in unidades %}
                                <option value="{{ unidad.pk }}" data-especial="{{ unidad.especial }}">{{ unidad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-12 areas" style="display: none">
                    <div class="form-group">
                        <label for="unidades">Opcionalmente escoja también una área ejecutora</label>
                        <select name="ejecutora" id="ejecutoras" class="form-control">
                            <option value="">Escoja una área ejecutora</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 especial" style="display: none">
                    <div class="form-group">
                        <label for="unidades"></label>
                        <input type="radio" value="si" name="myself" id="si"> <label for="si">La unidad orgánica ejecuta</label>
                        <input type="radio" value="no" name="myself" id="no"> <label for="no">Es proyecto</label>
                    </div>
                </div>
            </div>
            <button class="btn btn-block btn-info">Siguiente Paso <i class="fa fa-arrow-right"></i></button>
        </form>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static "plan/pre.js" %}"></script>
{% endblock js %}