{% extends "base/base.html" %}
{% load l10n %}
{% load user_groups %}

{% block header %}Ver Plan{% endblock header %}

{% block namespace %}evaluar{% endblock namespace %}

{% block actions %}
    <span class="small pull-right">
        <a href="{% url 'reporte:imprimir_plan' plan.pk %}" class="btn btn-info btn-sm print"><i class="fa fa-print"></i> Imprimir Plan</a>
        <a href="{% url 'plan:planes' %}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Ver todos los planes</a>
        <a href="{% url 'plan:plan' %}" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Crear otro Plan</a>

    </span>
{% endblock actions %}

{% block content %}
    <form action="{% url 'plan:aprobar_plan' plan.pk %}" method="post">
        {% if  plan.aprobado %}
            <div class="alert alert-warning">
                <p>Este plan está aprobado, no puede modificarse a menos que se quite la aprobación. {% ifusergroup Administrador %}
                <button class="btn btn-sm btn-danger desaprobar" type="button" data-pk="{{ plan.pk }}"><i class="fa fa-times"></i> Quitar aprobación</button>
                <input type="hidden" name="aprobado" value="{{ plan.aprobado }}" id="id_aprobado">
                {% endifusergroup %}</p>
            </div>
        {% endif %}
        {% csrf_token %}
    </form>
        <div class="row">
            <h2 class="page-sub-header text-success">Datos del Plan</h2>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.unidad_organica.label_tag }}
                    {{ form.unidad_organica.value }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.area_ejecutora.label_tag }}
                    {{ form.area_ejecutora.value }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.responsable.label_tag }}
                    {{ form.responsable.value }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.accion_central.label_tag }}
                    {{ form.accion_central.value }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.objetivo_general_institucional.label_tag }}
                    {{ form.objetivo_general_institucional.value }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form.objetivo_especifico_institucional.label_tag }}
                    {{ form.objetivo_especifico_institucional.value }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    {{ form.periodo.label_tag }}
                    {{ plan.get_periodo_display }}
                    <div class="hidden">
                    {{ form.periodo }}
                    </div>
                </div>
            </div>
            <h2 class="page-sub-header text-info">Actividades o Proyectos</h2>

            <div class="actividades">
                {% for actividad in plan.actividad_set.all %}
                <div class="actividad small">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Tarea o actividad</label>
                            <p>{{ actividad.tarea_actividad }}</p>
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">U. de medida</label>
                            <p>{{ actividad.unidad_medida }}</p>
                        </div>
                        <div class="form-group">
                            <label for="">Peso (%)</label>
                            <p>{{ actividad.peso|unlocalize }}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Fecha término</label>
                            <p>{{ actividad.fecha_termino|date:"d-m-Y" }}</p>
                        </div>
                        <div class="form-group">
                            <label for="">Asignación presupuestal</label>
                            <p>{{ actividad.asignacion_presupuestal.fuente }}</p>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-7">
                        <table class="table table-bordered table-striped tabla-actividad">
                            <tbody>
                                <tr>
                                    <th><span class="t">T1</span><span class="m">Ene</span></th>
                                    <th>Ejecución <span class="t">T1</span><span class="m">Ene</span></th>
                                    <th>Monto <span class="t">T1</span><span class="m">Ene</span></th>
                                    <th>Ejecución Monto <span class="t">T1</span><span class="m">Ene</span></th>
                                </tr>
                                <tr>
                                    <td>{{ actividad.t1|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t1|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p1|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p1|unlocalize }}"></td>
                                </tr>

                                <tr>
                                    <th><span class="t">T2</span><span class="m">Feb</span></th>
                                    <th>Ejecución <span class="t">T2</span><span class="m">Feb</span></th>
                                    <th>Monto <span class="t">T2</span><span class="m">Feb</span></th>
                                    <th>Ejecución Monto <span class="t">T2</span><span class="m">Feb</span></th>
                                </tr>
                                <tr>
                                    <td>{{ actividad.t2|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t2|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p2|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p2|unlocalize }}"></td>
                                </tr>

                                <tr>
                                    <th><span class="t">T3</span><span class="m">Mar</span></th>
                                    <th>Ejecución <span class="t">T3</span><span class="m">Mar</span></th>
                                    <th>Monto <span class="t">T3</span><span class="m">Mar</span></th>
                                    <th>Ejecución Monto <span class="t">T3</span><span class="m">Mar</span></th>
                                </tr>
                                <tr>
                                    <td>{{ actividad.t3|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t3|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p3|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p3|unlocalize }}"></td>
                                </tr>

                                <tr>
                                    <th><span class="t">T4</span><span class="m">Abr</span></th>
                                    <th>Ejecución <span class="t">T4</span><span class="m">Abr</span></th>
                                    <th>Monto <span class="t">T4</span><span class="m">Abr</span></th>
                                    <th>Ejecución Monto <span class="t">T4</span><span class="m">Abr</span></th>
                                </tr>
                                <tr>
                                    <td>{{ actividad.t4|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t4|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p4|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p4|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T5</span><span class="m">May</span></th>
                                    <th>Ejecución <span class="t">T5</span><span class="m">May</span></th>
                                    <th>Monto <span class="t">T5</span><span class="m">May</span></th>
                                    <th>Ejecución Monto <span class="t">T5</span><span class="m">May</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t5|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t5|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p5|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p5|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T6</span><span class="m">Jun</span></th>
                                    <th>Ejecución <span class="t">T6</span><span class="m">Jun</span></th>
                                    <th>Monto <span class="t">T6</span><span class="m">Jun</span></th>
                                    <th>Ejecución Monto <span class="t">T6</span><span class="m">Jun</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t6|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t6|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p6|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p6|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T7</span><span class="m">Jul</span></th>
                                    <th>Ejecución <span class="t">T7</span><span class="m">Jul</span></th>
                                    <th>Monto <span class="t">T7</span><span class="m">Jul</span></th>
                                    <th>Ejecución Monto <span class="t">T7</span><span class="m">Jul</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t7|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t7|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p7|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p7|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T8</span><span class="m">Ago</span></th>
                                    <th>Ejecución <span class="t">T8</span><span class="m">Ago</span></th>
                                    <th>Monto <span class="t">T8</span><span class="m">Ago</span></th>
                                    <th>Ejecución Monto <span class="t">T8</span><span class="m">Ago</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t8|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t8|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p8|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p8|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T9</span><span class="m">Set</span></th>
                                    <th>Ejecución <span class="t">T9</span><span class="m">Set</span></th>
                                    <th>Monto <span class="t">T9</span><span class="m">Set</span></th>
                                    <th>Ejecución Monto <span class="t">T9</span><span class="m">Set</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t9|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t9|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p9|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p9|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T10</span><span class="m">Oct</span></th>
                                    <th>Ejecución <span class="t">T10</span><span class="m">Oct</span></th>
                                    <th>Monto <span class="t">T10</span><span class="m">Oct</span></th>
                                    <th>Ejecución Monto <span class="t">T10</span><span class="m">Oct</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t10|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t10|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p10|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p10|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T11</span><span class="m">Nov</span></th>
                                    <th>Ejecución <span class="t">T11</span><span class="m">Nov</span></th>
                                    <th>Monto <span class="t">T11</span><span class="m">Nov</span></th>
                                    <th>Ejecución Monto <span class="t">T11</span><span class="m">Nov</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t11|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t11|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p11|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p11|unlocalize }}"></td>
                                </tr>

                                <tr class="periodo hidden">
                                    <th><span class="t">T12</span><span class="m">Dic</span></th>
                                    <th>Ejecución <span class="t">T12</span><span class="m">Dic</span></th>
                                    <th>Monto <span class="t">T12</span><span class="m">Dic</span></th>
                                    <th>Ejecución Monto <span class="t">T12</span><span class="m">Dic</span></th>
                                </tr>
                                <tr class="periodo hidden">
                                    <td>{{ actividad.t12|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadot" value="{{ actividad.resultado.t12|unlocalize }}"></td>
                                    <td>S/ {{ actividad.p12|unlocalize }}</td>
                                    <td><input type="number" step="any" class="form-control input-sm resultadop" value="{{ actividad.resultado.p12|unlocalize }}"></td>
                                </tr>

                                
                            </tbody>

                            <tfoot>
                                <tr class="text-info">
                                    <th>Programado</th>
                                    <th>Ejecutado</th>
                                    <th>Monto Programado</th>
                                    <th>Monto Ejecutado</th>
                                </tr>
                                <tr>
                                    <td>{{ actividad.total|unlocalize }}</td>
                                    <td><input type="number" readonly class="form-control input-sm resultadototal" value="{{ actividad.resultado.total|unlocalize }}"></td>
                                    <td>{{ actividad.distribucion_presupuestal|unlocalize }}</td>
                                    <td><input type="number" readonly class="form-control input-sm resultadomonto" value="{{ actividad.resultado.distribucion_presupuestal|unlocalize }}"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Total en <span class="t">periodos</span><span class="m">meses</span></label>
                                    <p class="actividad-total" data-val="{{ actividad.total|unlocalize }}">{{ actividad.total|unlocalize }}</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Tipo de medición</label>
                                    <p>{{ actividad.get_tipo_t_display }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="">Distribución presupuestal S/</label>
                            <p class="actividad-distribucion" data-val="{{ actividad.distribucion_presupuestal|unlocalize }}">{{ actividad.distribucion_presupuestal|unlocalize }}</p>
                        </div>

                        <div class="form-group">
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Grado de cumplimiento</label>
                                        <h3 class="porcentajet"><span></span></h3>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Alerta de gestión total</label>
                                        <h3 class="alertat"><span></span></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="well">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="">Grado de cumplimiento</label>
                                        <h3 class="porcentajep"><span></span></h3>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="">Alerta de gestión monto</label>
                                        <h3 class="alertap"><span></span></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>                    
                {% endfor %}
            </div>

            <div class="col-md-12">
                <div class="well text-center">
                    <h3>Total Presupuesto: S/ <span class="text-primary presupuesto" id="">{{ plan.presupuesto|unlocalize }}</span></h3>
                </div>
            </div>


            
            

        </div>
{% endblock content %}

{% block js %}
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="/static/plan/unidad-medida.js"></script>
    <script src="/static/plan/plan.js"></script>
{% endblock js %}




{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
{% endblock css %}



{% block modal %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modalprint">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Imprimir</h4>
          </div>
          <div class="modal-body">
            <iframe src="" frameborder="0" width="100%" height="380"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}


{% block title %}Ver Plan{% endblock title %}
