{% extends "base/base.html" %}
{% load l10n %}
{% load static %}

{% block header %}Editar Cuadro {% endblock header %}
{% block title %}Editar Cuadro {% endblock title %}

{% block actions %}
    <span class="small pull-right">
        <a href="{% url 'plan:actividades' actividad.pertenece_a.pk %}" class="btn btn-primary btn-sm"><i class="fa fa-list"></i> Volver a la lista de actividades</a>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Acciones del cuadro
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'reporte:imprimir_cuadro' cuadro.pk %}" class="imprimir-cuadro"><i class="fa fa-print text-info"></i> Imprimir</a></li>
                <li><a href="{% url 'reporte:cuadro_excel' %}?tipo=cuadro&amp;cuadro={{ cuadro.pk }}" title="Exporta a Excel el Cuadro de necesidades"><i class="fa fa-file-excel-o text-success"></i> Exportar a Excel</a></li>
                <li><a href="{% url 'cuadro:borrar_cuadro' actividad.pk %}" class="borrar-cuadro"><i class="fa fa-times text-danger"></i> Borrar</a></li>
            </ul>
        </div>
        <a href="{% static "cuadro/compras.xlsx" %}" class="btn btn-info btn-sm"><i class="fa fa-download"></i> Catálogo de Compras</a>
    </span>
{% endblock actions %}

{% block content %}
    <form action="{% url 'cuadro:editar_cuadro' actividad.pk %}" method="post">
        <h4 class="text-info">Actividad: {{ actividad.tarea_actividad}}</h4>
        <div class="well">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Unidad Orgánica</label>: <br>
                        {{ actividad.pertenece_a.unidad_organica }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        {% if actividad.pertenece_a.area_ejecutora != None %}
                            <label for="">Área Ejecutora</label>: <br>
                            {{ actividad.pertenece_a.area_ejecutora }}
                        {% else %}
                            {% if actividad.proyecto != None %}
                                <label for="">Área Ejecutora</label>: <br>
                                {{ actividad.pertenece_a.area_ejecutora }}
                            {% else %}
                                <label for="">Área Ejecutora</label>: <br>
                                {{ actividad.pertenece_a.unidad_organica }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Distribución Presupuestal</label>: <br>
                        <strong class="text-success">S/ {{ actividad.distribucion_presupuestal|unlocalize }}</strong>
                    </div>
                </div>
                <div class="col-md-4" style="display: none">
                    <div class="form-group">
                        {{ form.sec_func.label_tag }} <br>
                        {{ form.sec_func }}
                    </div>
                </div>
            </div>
            <input type="hidden" name="pk" value="{{ cuadro.pk }}">
        </div>
        <h3 class="text-success">Productos o servicios</h3>

        <div class="productos">
            {% for detalle in cuadro.cuadrodetalle_set.all %}
            <div class="producto small">
                <input type="hidden" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-id" value="{{ detalle.pk }}" id="id_{{ detalle_form.prefix }}-{{ forloop.counter0 }}-id" class="pk">
                <input type="hidden" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-pertenece_a" value="{{ cuadro.pk }}" id="id_{{ detalle_form.prefix }}-{{ forloop.counter0 }}-pertenece_a">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="">Descripción</label>: <span class="text-info">Escriba el detalle del bien o servicio.</span>
                            <textarea name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-nuevo" id="" cols="30" rows="4" class="form-control input-sm ac-producto" required>{{ detalle.producto.descripcion }}</textarea>
                            <input type="hidden" class="id_producto" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-producto" value="{{ detalle.producto.pk }}">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Clasificador</label>
                            <input type="text" class="form-control input-sm ac-clasificador" required value="{{ detalle.clasificador.cadena }}">
                            <input type="hidden" class="id_clasificador" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-clasificador" value="{{ detalle.clasificador.pk }}">
                        </div>
                        <div class="form-group">
                            <label for="">Unidad de Medida</label>
                            <input type="text" class="form-control input-sm" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-unidad_medida" required value="{{ detalle.unidad_medida }}">
                        </div>
                        <div class="form-group">
                            <label for="">Precio Unitario S/</label>
                            <input type="number" step="any" min="0" class="form-control input-sm unitario" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-precio" required value="{{ detalle.precio|unlocalize }}">
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="col-md-12">
                            <h4>Cantidades por periodo</h4>
                        </div>

                        <div class="col-md-3" {% if actividad.t1 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Ene</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p1" {% if actividad.t1 != 0 %}required{% endif %} value="{{ detalle.p1 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t2 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Feb</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p2" {% if actividad.t2 != 0 %}required{% endif %} value="{{ detalle.p2 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t3 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Mar</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p3" {% if actividad.t3 != 0 %}required{% endif %} value="{{ detalle.p3 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t4 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Abr</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p4" {% if actividad.t4 != 0 %}required{% endif %} value="{{ detalle.p4 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t5 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">May</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p5" {% if actividad.t5 != 0 %}required{% endif %} value="{{ detalle.p5 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t6 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Jun</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p6" {% if actividad.t6 != 0 %}required{% endif %} value="{{ detalle.p6 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t7 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Jul</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p7" {% if actividad.t7 != 0 %}required{% endif %} value="{{ detalle.p7 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t8 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Ago</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p8" {% if actividad.t8 != 0 %}required{% endif %} value="{{ detalle.p8 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t9 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Set</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p9" {% if actividad.t9 != 0 %}required{% endif %} value="{{ detalle.p9 |unlocalize}}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t10 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Oct</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p10" {% if actividad.t10 != 0 %}required{% endif %} value="{{ detalle.p10|unlocalize }}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t11 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Nov</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p11" {% if actividad.t11 != 0 %}required{% endif %} value="{{ detalle.p11|unlocalize }}">
                            </div>
                        </div>
                        <div class="col-md-3" {% if actividad.t12 == 0 %}style="display: none"{% endif %}>
                            <div class="form-group">
                                <label for="">Dic</label>
                                <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-p12" {% if actividad.t12 != 0 %}required{% endif %} value="{{ detalle.p12|unlocalize }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Total Cantidades</label>
                            <input type="number" step="any" min="0" class="form-control input-sm total-cantidades" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-total_cantidades" readonly value="{{ detalle.total_cantidades|unlocalize }}">
                        </div>
                        <div class="form-group">
                            <label for="">Total S/</label>
                            <input type="number" step="any" min="0" class="form-control input-sm total" name="{{ detalle_form.prefix }}-{{ forloop.counter0 }}-total" readonly value="{{ detalle.total|unlocalize }}">
                        </div>
                        <button class="btn btn-block btn-danger quitar-producto" type="button"><i class="fa fa-times"></i> Quitar este producto</button>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-12">
            <div class="well text-center">
                <h3>Total Cuadro: S/ <span class="text-primary presupuesto" id="presupuesto">{{ cuadro.total }}</span></h3>
                <input type="hidden" name="total" id="id_presupuesto" value=" value="{{ cuadro.total }}"">
            </div>
        </div>


        <div class="col-md-12">
            <div class="well">
                <button class="btn btn-block btn-success btn-sm agregar-producto" type="button"><i class="fa fa-plus"></i> Agregar producto</button>
                <input id="id_{{ detalle_form.prefix }}-TOTAL_FORMS" name="{{ detalle_form.prefix }}-TOTAL_FORMS" type="hidden" value="{{ cuadro.cuadrodetalle_set.count }}">
                <input id="id_{{ detalle_form.prefix }}-INITIAL_FORMS" name="{{ detalle_form.prefix }}-INITIAL_FORMS" type="hidden" value="0">
                <input id="id_{{ detalle_form.prefix }}-MIN_NUM_FORMS" name="{{ detalle_form.prefix }}-MIN_NUM_FORMS" type="hidden" value="0">
                <input id="id_{{ detalle_form.prefix }}-MAX_NUM_FORMS" name="{{ detalle_form.prefix }}-MAX_NUM_FORMS" type="hidden" value="1000">
                {% csrf_token %}
                <input type="hidden" name="creado_por" value="{{ cuadro.creado_por.pk }}">
            </div>
        </div>

        <div class="col-md-12">
            <div class="well">
                <button class="btn btn-lg btn-block btn-primary" type="submit" data-pre="no"><i class="fa fa-save"></i> Guardar</button>
                <button class="btn btn-info pre" type="submit" data-pre="si"><i class="fa fa-save"></i> Pre-guardar</button>
                <input type="hidden" name="pre" value="no" id="pre">
            </div>
        </div>
    </form>    
{% endblock content %}

{% block js %}
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="{% static "cuadro/producto.js" %}"></script>
    <script src="{% static "cuadro/clasificador.js" %}"></script>
    <script>
        var prefix = '{{ detalle_form.prefix }}';
        var distribucion_actividad = {{ cuadro.actividad.distribucion_presupuestal|unlocalize }};
    </script>
    <script src="{% static "cuadro/cuadro.js" %}"></script>
    <script>
    console.log('{{ form.non_field_errors }}');
    console.log('{{ detalle_form.non_field_errors }}');
    </script>
{% endblock js %}


{% block template %}
    <script type="text/template" id="template">
        <div class="producto small">
            <input type="hidden" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-id" id="id_{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-id" class="pk">
            <input type="hidden" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-pertenece_a" value="{{ plan.pk }}" id="id_{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-pertenece_a">
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="">Descripción</label>: <span class="text-info">Escriba el detalle del bien o servicio.</span>
                        <textarea name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-nuevo" id="" cols="30" rows="4" class="form-control input-sm ac-producto" required></textarea>
                        <input type="hidden" class="id_producto" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-producto" value="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Clasificador</label>
                        <input type="text" class="form-control input-sm ac-clasificador" required>
                        <input type="hidden" class="id_clasificador" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-clasificador" value="">
                    </div>
                    <div class="form-group">
                        <label for="">Unidad de Medida</label>
                        <input type="text" class="form-control input-sm" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-unidad_medida" required>
                    </div>
                    <div class="form-group">
                        <label for="">Precio Unitario S/</label>
                        <input type="number" step="any" min="0" class="form-control input-sm unitario" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-precio" required>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="col-md-12">
                        <h4>Cantidades por periodo</h4>
                    </div>
                    {% if actividad.pertenece_a.periodo == '1' %}
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">T1</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p1" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">T2</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p4" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">T3</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p7" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">T4</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p10" required>
                        </div>
                    </div>
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p2">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p3">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p5">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p6">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p8">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p9">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p11">
                    <input type="hidden" value="0" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p12">

                    {% else %}
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Ene</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p1" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Feb</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p2" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Mar</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p3" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Abr</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p4" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">May</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p5" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Jun</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p6" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Jul</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p7" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Ago</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p8" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Set</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p9" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Oct</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p10" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Nov</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p11" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="">Dic</label>
                            <input type="number" class="t-input input-sm form-control" min="0" step="any" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-p12" required>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Total Cantidades</label>
                        <input type="number" step="any" min="0" class="form-control input-sm total-cantidades" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-total_cantidades" readonly>
                    </div>
                    <div class="form-group">
                        <label for="">Total S/</label>
                        <input type="number" step="any" min="0" class="form-control input-sm total" name="{{ detalle_form.prefix }}-{% templatetag openvariable %} numero {% templatetag closevariable %}-total" readonly>
                    </div>
                    <button class="btn btn-block btn-danger quitar-producto" type="button"><i class="fa fa-times"></i> Quitar este producto</button>
                </div>
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
        </div>
    </script>
{% endblock template %}

{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
{% endblock css %}

{% block modal %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modalprint">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Imprimir</h4>
          </div>
          <div class="modal-body">
            <iframe src="" frameborder="0" width="100%" height="380"></iframe>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock modal %}



{% block extras %}
    <div class="flotante">
        <p>Total actividad: <span class="total-actividad">{{ cuadro.actividad.distribucion_presupuestal|unlocalize }}</span>
            <br> Total cuadro: <span class="total-cuadro"></span>
            <br> Saldo: <span class="saldo"></span></p>
    </div>
{% endblock extras %}
