{% extends "base/base.html" %}

{% load static %}

{% block title %}Cuadros por Unidad Orgánica{% endblock title %}

{% block header %}Cuadros por Unidad Orgánica{% endblock header %}


{% block content %}

    <div class="well">
        <form action="{% url 'reporte:cuadro_excel' %}" method="get">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="unidades">Escoja una unidad orgánica</label>
                        <select name="unidad" id="unidades" class="form-control" required>
                            {% for unidad in unidades %}
                                <option value="{{ unidad.pk }}">{{ unidad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="unidades">Escriba el año</label>
                        <input type="text" name="anio" class="form-control" required>
                    </div>
                </div>
            </div>
            
            {% csrf_token %}
            <button class="btn btn-block btn-success"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
            <input type="hidden" name="tipo" value="organica">
        </form>
    </div>
    
{% endblock content %}
