{% extends "base/base.html" %}

{% load static %}

{% block title %}Cuadros por institución{% endblock title %}

{% block header %}Cuadros por institución{% endblock header %}


{% block content %}

    <div class="well">
        <form action="{% url 'reporte:cuadro_excel' %}" method="get">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="anio">Escoja el año</label>
                        <select name="anio" id="anio" class="form-control">
                        {% for anio in anios %}
                            <option value="{{ anio.pk }}">{{ anio.nombre }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            
            {% csrf_token %}
            <button class="btn btn-block btn-success"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
            <input type="hidden" name="tipo" value="institucion">
        </form>
    </div>
    
{% endblock content %}
