{% extends "base/base.html" %}

{% load static %}

{% block title %}Cuadros por institución{% endblock title %}

{% block header %}Cuadros por institución{% endblock header %}


{% block content %}

    <div class="well">
        <form action="{% url 'reporte:cuadro_excel' %}" method="get">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="unidades">Escriba el año</label>
                        <input type="text" name="anio" class="form-control" required>
                    </div>
                </div>
            </div>
            
            {% csrf_token %}
            <button class="btn btn-block btn-success"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
            <input type="hidden" name="tipo" value="institucion">
        </form>
    </div>
    
{% endblock content %}
