{% load static %}
<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.min.css" integrity="sha256-r1WijW/SNMgOwk5LDk7QRHr6oVYYbYWMw/1kOXfYJfg=" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "plan/poi.css" %}">
    {% block css %}{% endblock css %}
    <title>{% block title %}POI{% endblock title %}</title>
</head>
<body class="{% block namespace %}{% endblock namespace %}">
    {% include "base/menu.html" %}
    <div class="container">
        <div id="messages">
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-{% if message.tags %}{% if message.tags == 'error'%}danger{% else %}{{ message.tags }}{% endif %}{% endif %} animated bounceIn">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            <p>{{ message }}</p>
          </div>
          {% endfor %}
        {% endif %}
        </div>
        <div class="page-header">
            <h1>{% block header %}POI{% endblock header %} {% block actions %}{% endblock actions %}</h1>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    {% block modal %}{% endblock modal %}
    <script src="http://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% block js %}{% endblock js %}
    {% block template %}{% endblock template %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/572ca147ab1d60c245302cf6/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <script type="text/javascript">
    Tawk_API = Tawk_API || {};
    Tawk_API.visitor = {
      {% if not user.is_authenticated %}
      name  : 'Anónimo'
      {% else %}
      name  : "{{ user.get_full_name }} ({{ user.username }})"
      {% endif %}
    };
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>