{% load user_groups %}
{% load static %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'base:index' %}">POI - MPU</a>
        </div>
            
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'plan:pre_plan' %}">Crear plan</a></li>
                        <li><a href="{% url 'plan:planes' %}">Lista de planes</a></li>
                    </ul>
                </li>

                {% ifusergroup Jefe %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'plan:informe_organica' %}">Planes por Unidad Orgánica</a></li>
                    </ul>
                </li>
                {% endifusergroup %}

                {% ifusergroup Administrador %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'plan:informe_dependencia' %}">Planes por Dependencia</a></li>
                        <li><a href="{% url 'plan:informe_organica' %}">Planes por Unidad Orgánica</a></li>
                        <li><a href="{% url 'plan:informe_institucion' %}">Planes por Institución</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'plan:informe_resumen' %}">Resumen de unidades orgánicas</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'cuadro:informe_dependencia' %}">Cuadros por Dependencia</a></li>
                        <li><a href="{% url 'cuadro:informe_organica' %}">Cuadros por Unidad Orgánica</a></li>
                        <li><a href="{% url 'cuadro:informe_institucion' %}">Cuadros por Institución</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'base:usuarios' %}">Usuarios</a></li>
                <li><a href="/admin" target="_blank">Admin</a></li>
                {% endifusergroup %}

                {% ifusergroup Logistico %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Informes <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'cuadro:informe_dependencia' %}">Cuadros por Dependencia</a></li>
                        <li><a href="{% url 'cuadro:informe_organica' %}">Cuadros por Unidad Orgánica</a></li>
                        <li><a href="{% url 'cuadro:informe_institucion' %}">Cuadros por Institución</a></li>
                    </ul>
                </li>
                {% endifusergroup %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documentos <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% static "cuadro/techos.xlsx" %}">Techos presupuestales</a></li>
                        <li><a href="{% static "cuadro/compras.xlsx" %}">Catálogo estandarizado para escritorio y consumibles</a></li>
                        <li><a href="{% static "cuadro/referencial.xlsx" %}">Catálogo general de productos</a></li>
                        <li><a href="{% static "cuadro/toner.xlsx" %}">Catálogo general de toners</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                <li><a href="#">Hola {{ user.username }}</a></li>
                <li><a href="{% url 'base:the_logout' %}">Salir</a></li>
                {% else %}
                <li><a href="{% url 'base:the_login' %}">Iniciar Sesión</a></li>
                {% endif %}
              </ul>
        </div>
    </div>
</nav>
