{% extends 'base/base.html' %}
{% load static %}

{% block header %}
  <i class="fa fa-user text-primary"></i> Usuario nuevo
{% endblock header %}

{% block actions %}
  <span class="small pull-right">
    <a class="btn btn-primary btn-sm" href="{% url 'base:usuarios' %}"><i class="fa fa-users"></i> Ver todos los usuarios</a>
  </span>
{% endblock actions %}

{% block content %}
<form action="{% url 'base:usuario' %}" role="form" method="post" id="the-form">
  <div class="row">
    <div class="col-md-6">
      <div class="page-header mini">
        <h5>Información</h5>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario *" required autofocus>
      </div>
      <div class="form-group">
        <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña *" required>
      </div>
      <div class="form-group">
        <input id="password2" name="password2" type="password" class="form-control" placeholder="Contraseña otra vez *" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="first_name" placeholder="Nombres *" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="last_name" placeholder="Apellidos *" required>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="E-mail *" required>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon ancho">Estado</span>
          <select name="is_active" class="form-control">
            <option value="1">Activo</option>
            <option value="0">Inactivo</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="page-header mini">
        <h5>Accesos</h5>
      </div>
      <div class="form-group">
        {% for grupo in grupos %}
        <div class="checkbox">
          <label for="chk-{{ grupo.pk }}">
            <input type="checkbox" name="grupos[]" id="chk-{{ grupo.pk }}" class="grupo" value="{{ grupo.pk }}">{{ grupo.name }}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
  <div class="well">
    <p class="text-center">
      <button class="btn btn-primary btn-block btn-lg"><i class="fa fa-floppy-o"></i> Guardar</button>
      {% csrf_token %}
    </p>
  </div>
</form>

{% endblock %}

{% block title %}Crear un usuario{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
<script src="{% static "base/usuario.js" %}"></script>
{% endblock %}